@import "./base";

$borders: map-get(
	map-get($utilities, "border"),
	"values"
);

@each $bpn, $bpv in $grid-breakpoints {
	@each $bk, $bv in $borders {
		@include media-breakpoint-up($bpn) {
			@if ($bpn == 'null') {
				.border-#{$bk} {
					border: #{$bv} !important;
				}
			}
			@else {
				.border-#{$bpn}-#{$bk} {
					border: #{$bv} !important;
				}
			}
		}
	}
}