.card {
	&.floating-header {
		margin-top: 1.5rem;
		position: relative;

		.card-header {
			position: absolute;
			transform: translate(1rem, -50%);
			background: color-mix(in srgb, var(--bs-card-bg) 100%, var(--bs-card-cap-bg) 50%);
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 90%;
			overflow: hidden;
		}

		.card-body {
			padding: 2rem;
		}
	}
}