@use "/resources/scss/libs/tailwind.scss";

*:target {
	scroll-margin-top: calc(1rem + var(--navbar-height));
}

.required-after,
.required-end {
	&:after {
		margin-left: 0.25rem;
		content: "*";
		color: var(--required-color);
	}
}

.required,
.required-before,
.required-start {
	&:before {
		margin-right: 0.25rem;
		content: "*";
		color: var(--required-color);
	}
}

.enlarge-on-hover {
	@apply transition-all ease-in-out duration-150;

	&:hover {
		@apply md:border-accent/50;
		@apply scale-[102.5%];

		& .bg-accent\/25 {
			@apply bg-accent/50;
		}
	}
}

// Header modification
h1,
.h1 {
	@apply text-4xl lg:text-6xl font-black;
	@apply text-center mb-10;
}

h2,
.h2 {
	@apply text-3xl lg:text-5xl font-black;
	@apply text-center mb-10;
}

h3,
.h3 {
	@apply text-2xl lg:text-4xl font-black;
	@apply text-center mb-10;
}

h4,
.h4 {
	@apply text-xl lg:text-2xl font-black;
	@apply text-center mb-10;
}

h5,
.h5 {
	@apply text-lg lg:text-xl font-black;
	@apply text-center mb-10;
}

h6,
.h6 {
	@apply text-base lg:text-lg font-black;
	@apply text-center mb-10;
}

// Paragraph modification
p,
.p {
	@apply text-base;
	@apply text-start mb-4 indent-4;
}
