/**
 * <input> form control sizes.
 */
$form-input-sizes: (
	sm: "min-h-8 py-1 px-2 text-xs rounded-md",
	lg: "min-h-12 py-2 px-4 text-lg rounded-lg"
);

/*
 * <textarea> form control sizes.
 */
$form-textarea-sizes: (
	sm: "min-h-14",
	lg: "min-h-[6.5rem]"
);
