@use "sass:list";

@import "./breakpoints";

$thickness: (
	25: 1.375px,
	50: 1.750px,
	75: 2.125px,
	100: 2.500px
);

@each $bp, $px in $sizes {
	@each $tk, $tv in $thickness {
		@if $bp == "xs" {
			.hr-thick-#{$tk},
			.hr-thick-#{$bp}-#{$tk} {
				border-width: #{$tv}!important;
			}
		}
		@else {
			@media (min-width: $px) {
				.hr-thick-#{$bp}-#{$tk} {
					border-width: #{$tv}!important;
				}
			}
		}
	}
}
